$bck-color-login: #dfe0df;
$input-field-login: #baa89b;
$text-login: #524439;
$text-inputs: #590400d2;
$user-icon: #00b39886;
$button-hover: #df7b00;
$input-insert-text: #7089008f;

$colors-todo-app: (
  "a": #dfe0df,
  "b": #baa89b,
  "c": #221a15,
  "d": #5e3e2b,
  "e": #b0b1b0,
  "f": #590500,
  "g": #ffa387,
  "h": #a98600,
  "i": #ffbfbc,
  "j": rgb(255, 81, 0),
  "k": rgb(16, 71, 71),
  "shadow": #8f8c8a48,
  "check": #007e3f,
  "buttonDay": #298516,
  "butNextBack": #df7c00,
);

$colors-tasks: (
  "c1": #ff80d5,
  "c2": #aa00cc,
  "c3": #19b2ff,
  "c4": #80ff95,
  "c5": #ffff66,
  "c6": #ff6a4d,
  "c7": #0000b3,
  "c8": #ebffe6,
);
